body {
	background-image: url('https://images.unsplash.com/photo-1546484396-fb3fc6f95f98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
	background-repeat: repeat;
    background-size: 100%;
}

.wrapper {
    border: 1px solid #979799;
    margin: 75px auto;
    padding: 5px;
    background: #F8F7FB;
    opacity: 0.75;
    width: 55%;
    height: 100px;
    border-radius: 30px 30px;
    box-shadow: 5px 5px 5px #888;
   }

#submit {
  cursor: pointer;
  color : #FEFEFE;
  height: 35px;
  width: 120px;
  text-align: center;
  border-radius: 10px 10px solid;
  background-color: white;
  font-size: 25px;
  font-family: 'Bitter', serif;
  position: relative;
  border-radius: 0px 10%;
 background: teal;
 box-shadow: 5px 5px 5px #888;
 justify-content: center;
 align-items: center;
 margin: 20px auto;
}

#h1{
	text-align: center;
	font-size: 60px;
	font-family: 'Dancing Script', cursive;
	color:#FFFEFD;
	font-weight:35px;
	margin-bottom: 2.5%;
}

.text{
	text-align: center;
	font-size: 1.5em;
}

label {
	text-align: center;
	font-size: 1.3em;
}
label:hover {
	text-decoration: underline;
	font-size: 1.4em;

}


input{
	text-align: center;
	font-size: 1.3em;
	cursor: pointer;
	margin: auto 15px;
	border: 1px solid red;
}

section {
	display: flex;
	flex-direction: column; 
}

#score{
	width: 30%;
	height: 50px;
	text-align: center;
	font-size: 1.9em;
	color:#FEFEFE;
	margin: 50px auto;
	position: relative;
    font-family: 'Lakki Reddy', cursive;
}

.sp {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#submitter {
	display: flex;
	flex-direction: column;
}





